<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6 pull-right">
            <div class="ibox-content">
                <div class="text-center">
                    <img class="logo-login" src="img/logo-black.jpg">
                </div>
                <form class="m-t" role="form" >
                    <div class="alert" ng-class="message.status" ng-show="message.mensaje">
                        <i class="fa fa-info-circle"></i> <strong ng-bind="message.mensaje"></strong>
                    </div>
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" name="username" ng-model="user.login" class="form-control" placeholder="Ingresa tu nombre de usuario" required="required">
                        
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                            <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Ingresa tu contraseña" required="required">
                        
                    </div>
                    <input type="hidden" value="1" ng-model="user.remember">
                    <a class="btn btn-primary block full-width m-b" ng-show="loading" disabled="loading">Cargando...</a>
                    <a ng-click="login()" class="btn btn-primary block full-width m-b" ng-hide="loading">Ingresar</a>
                    
                </form>
                <p class="m-t">
                    <small>* Si no recuerdas tu contraseña, comunícate con tu supervisor.</small>
                </p>
            </div>
            <p class="m-t text-center">
                <small class="text-white">Desarrollado por dTecnología Chile - 2021</small>
            </p>
        </div>
    </div>
    
</div>