<div class="wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget  p-s text-center">
                    <div class="m-b-md">
                        <i class="fa fa-plus fa-5x"></i>
                        <h1 class="m-xs">Agregar</h1>
                        <h3 class="font-bold no-margins">
                            Nuevo
                        </h3>
                        <!--<small>Pedido</small>-->
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget blue-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-list fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Presupuesto
                                </h3>
                                <small>2 abiertos</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget red-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-list-alt fa-5x"></i>
                                <h1 class="m-xs">28</h1>
                                <h3 class="font-bold no-margins">
                                    Órdenes
                                </h3>
                                <small>6 en curso</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget yellow-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-tags fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Ventas
                                </h3>
                                <small>Ir al punto de venta</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget lazur-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-calendar fa-5x"></i>
                                <h1 class="m-xs">105</h1>
                                <h3 class="font-bold no-margins">
                                    Agenda
                                </h3>
                                <small>5 próximos eventos</small>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget red-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-user fa-5x"></i>
                                <h1 class="m-xs">35</h1>
                                <h3 class="font-bold no-margins">
                                    Clientes
                                </h3>
                                <small>1 nuevo esta semana</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget blue-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-automobile fa-5x"></i>
                                <h1 class="m-xs">35</h1>
                                <h3 class="font-bold no-margins">
                                    Vehículos
                                </h3>
                                <small>1 nuevo esta semana</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget lazur-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-cubes fa-5x"></i>
                                <h1 class="m-xs">220</h1>
                                <h3 class="font-bold no-margins">
                                    Productos
                                </h3>
                                <small>165 sin stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget yellow-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-cogs fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Servicios
                                </h3>
                                <small>2 ya no se realizan</small>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>



        <div class="row">

            

            <div class="col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Monthly</span>
                        <h5>Views</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">386,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                        <small>Total views</small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Annual</span>
                        <h5>Orders</h5>
                    </div>
                    <div class="ibox-content">
                                <h1 class="no-margins">80,800</h1>
                                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                                <small>New orders</small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h5>Vistits</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="no-margins">$ 406,420</h1>
                                <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="no-margins">206,120</h1>
                                <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Monthly income</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">Updated 12.2015</span>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="flot-chart m-t-lg" style="height: 55px;">
                            <div class="flot-chart-content" id="flot-chart1"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
        