<div class="wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget  p-s text-center">
                    <div class="m-b-md">
                        <i class="fa fa-plus fa-5x"></i>
                        <h1 class="m-xs">Agregar</h1>
                        <h3 class="font-bold no-margins">
                            Nuevo
                        </h3>
                        <!--<small>Pedido</small>-->
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget blue-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-list fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Presupuesto
                                </h3>
                                <small>2 abiertos</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget red-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-list-alt fa-5x"></i>
                                <h1 class="m-xs">28</h1>
                                <h3 class="font-bold no-margins">
                                    Órdenes
                                </h3>
                                <small>6 en curso</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget yellow-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-tags fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Ventas
                                </h3>
                                <small>Ir al punto de venta</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget lazur-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-calendar fa-5x"></i>
                                <h1 class="m-xs">105</h1>
                                <h3 class="font-bold no-margins">
                                    Agenda
                                </h3>
                                <small>5 próximos eventos</small>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget red-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-user fa-5x"></i>
                                <h1 class="m-xs">35</h1>
                                <h3 class="font-bold no-margins">
                                    Clientes
                                </h3>
                                <small>1 nuevo esta semana</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget blue-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-automobile fa-5x"></i>
                                <h1 class="m-xs">35</h1>
                                <h3 class="font-bold no-margins">
                                    Vehículos
                                </h3>
                                <small>1 nuevo esta semana</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget lazur-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-cubes fa-5x"></i>
                                <h1 class="m-xs">220</h1>
                                <h3 class="font-bold no-margins">
                                    Productos
                                </h3>
                                <small>165 sin stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget yellow-bg p-s text-center">
                            <div class="m-b-md">
                                <i class="fa fa-cogs fa-5x"></i>
                                <h1 class="m-xs">47</h1>
                                <h3 class="font-bold no-margins">
                                    Servicios
                                </h3>
                                <small>2 ya no se realizan</small>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
</div>
        